body{
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background: url("backgrounds/overlay.png"), url("backgrounds/background4.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #505050;
    font-size: 20px;
    font-weight: 700;
}
.nav-link:hover{
    background-color: honeydew;
    opacity: .4;
    cursor: pointer;
    color: crimson;
    transition: ease-in 0.3s;
}
.logo{
    font-family: 'Concert One', cursive;
    color: #000000;
    font-size: 40px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: calibri;
    font-weight: bold;
    color: #FFFFFF;
    font-size: 22px;
}
.text-container p:nth-child(2){
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-size: 60px;
}
.text-container p:nth-child(3){
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #FFFFFF;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
    line-height: 0px;
    margin: 30px 0px 25px;
}
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, 42%);
}
.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin: 0px 10px;
}

.about-container{
    width: 80%;
    height: 330px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}
.about-container img{
    height: 250px;
}
.about-text{
    width: 550px;
}
.about-text p:nth-child(1){
    color: #403e3e;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}

.about-text p:nth-child(2){
    color: #3e3d3d;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    line-height: 5px;
}
.about-text p:nth-child(3),
.about-text p:nth-child(4){
    color: #7e7d7d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
}

.about-text button{
    width: 120px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #262525;
}
button:active{
	transform:scale(1.1);
}
.interest{
    height: 500px;
    background-color: #FFFFFF;
    padding: 2% 10% 0px 10%;
}
.interest-text p:nth-child(1){
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #3e3d3d;
    font-size: 30px;
    line-height: 0px;
}
.interest-text p:nth-child(2){
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #7e7d7d;
    font-size: 15px;
}
.box-1, .box-2, .box-3{
    width: 300px;
    height: 320px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box-container{
    display: flex;
    justify-content: space-between;
}
.box-1{
    background: url("backgrounds/overlay.png"), url("backgrounds/card-1.png");
}
.box-2{
    background: url("backgrounds/overlay.png"), url("backgrounds/card-2.png");
}
.box-3{
    background: url("backgrounds/overlay.png"), url("backgrounds/card-3.png");
}
.box-1 span, .box-2 span, .box-3 span{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.box-1 p:nth-child(2), 
.box-2 p:nth-child(2),
.box-3 p:nth-child(2){
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 0px;
}

.box-1 p:nth-child(3), 
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    width: 230px;
    margin: 0px 0px 20px 0px;
    color: #f6f5f5;
}

.box-1 button, 
.box-2 button,
.box-3 button{
    width: 100px;
    height: 30px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    border-radius: 5px;
}

.contact-me{
    width: 100%;
    height: 200px;
    background-image: url("backgrounds/contact-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-me p{
    color: #FFFFFF;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

.contact-me button{
    width: 200px;
    height: 40px;
    background-color: #FFFFFF;
    outline: none;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
footer{
    height: 300px;
    background: url("backgrounds/overlay.png"), url("backgrounds/background4.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
footer p{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 10px;
    text-align: center;
}
.social-icons a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6e3e3;
    margin: 20px 10px;
    border-radius: 50%;
}
.social-icons{
    display: flex;
}

.social-icons i{
    color: #000000;
}
.social-icons a:hover{
    background-color: #000000;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i,
.attached-socials a:hover i{
    color: #FFFFFF;
    transition: all ease 0.5s;
}
.attached-socials{
    position: fixed;
    top: 50%;
    right: 0px;
    transform: translateX(-50%);
}
.attached-socials a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 0px;
    margin: 0px;
    line-height: 0px;
    background-color: #FFFFFF;
    border: 1px solid #cbcbcb;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
}
.attached-socials i{
    color: #2b2b2b;
    font-size: 20px;
}

.slider{
    max-width: 700px;
    border: 10px solid white;
    margin: 40px auto;
    position: relative;
}
.slider .slider-items .item img{
    max-width: 100%;
    display: block;
    transition: ease-in 0.5s;
}
.slider .slider-items .item{
    display: none;
    position: relative;
}
.slider .slider-items .item .caption{
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.2);
    line-height: 60px;
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.slider .slider-items .item.active{
    display: block;
}
.slider .left-slide, 
.slider .right-slide{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #FFFFFF;
    border-radius: 50%;
    color: black;
    font-size: 20px;
    top: 50%;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    transition: all ease 0.5s;
    cursor: context-menu;
}
.slider .left-slide:hover,.slider .right-slide:hover{
    box-shadow: 0px 0px 10px black;
    background-color: darksalmon;
}
.slider .left-slide{
    left: 30px;
}
.slider .right-slide{
    right: 30px;
}